@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Lobster', cursive;
}

.button{
  width: 60px;
  padding: 20px;
  margin: 0 3px;
  border: 3px solid #37ebc7;
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 5px 0;
}

.row input{
  width: 230px;
  font-size: 20px;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 6px;
  border: 3px solid #37ebc7;
}